#badge{
    float: right;
    font-size:  16px;
    padding:5px;
    border-radius:50%;
    border:1px solid black;
}

a{
    padding :5px;
}

.card-header
{
    background-color: black;
    color: white;
}

img:hover{

    transform:scale(1.1);
    border-radius: 16px;

}